@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/Home.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<div id="Landing">
    <h1>Team Management Made Easy</h1>
    <p>With all the tools needed in one spot, XCManager is the perfect app for cross country coaches looking to manage their team.</p>
</div>
<div id="boxes">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Tracking</h3>
                </div>
                <div class="panel-body">
                    <p>With all of your runners in one place, XCManager makes it easy to keep track of everything about your runners such as contact information, personal bests, and even injury status.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Reports</h3>
                </div>
                <div class="panel-body">
                    <p>Filling out grueling race reports has never been easier. Simply fill in your athletes times and XCManager will generate and send an excel spreadsheet right to your desktop.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Schedule</h3>
                </div>
                <div class="panel-body">
                    <p>With your team's schedule right in one spot, youll be able to keep track of meet dates, go back and look at previous meet results, and even view who had the best race of the day.</p>
                </div>
            </div>
        </div>
    </div>
</div>