
@{
    ViewBag.Title = "ConfirmationSent";
}
<link href="~/Content/ConfirmedEmail.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<h1>Thank you for registering with us!</h1>
<p>An email with a confirmation link has been sent to your inbox.</p>

