* {
    color: black;
    font-family: Roboto, sans-serif;
}

table {
    margin-top: 50px;
}

h2 {
    text-align: center;
}

td {
    text-align: center;
    font-size: 22px;
}
td input
{
    margin: 0 auto;
}
th {
    text-align: center;
}
