* {
    text-align: center;
    color: black;
}
.nav a:not(.dropdown.menu a) {
    text-align: left;
}

th {
    text-align: center;
}

b {
    color: #f2efe8;
}

table td, th {
    font-size: 17px;
}
